## Strings

##### Write a function that returns the first and the last character of a string as one string. Test your function by calling it with the followung string.

In [6]:
sentence = "Slice notation in Python is used for selecting a range of items from a sequence such as a list, tuple, or string."

In [15]:
def first_last(x):
    y = x[0] + x[-1]
    print(y)

first_last(sentence)

S.

##### Write a function that takes a string as input and returns its a palindrome.

In [18]:
def reverse_string(x):
    y = list(x) # split the string into a list
    y.sort(reverse=TRUE) # reverse the list
    z = join(y) # re-concantate the string
    print(z)
    
reverse_string(sentence)

## This is wrong but it sounds like I don't have to do it for this class

NameError: name 'TRUE' is not defined

## Lists

In [13]:
mylist = ['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine']

#### Add the name Jim to the list and print the list

In [14]:
mylist.append('Jim')
print(mylist)

['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine', 'Jim']

#### Insert the name Bod to the 2nd place in the list and print the list

In [15]:
mylist.insert(1, 'Bod')
print(mylist)

['John', 'Bod', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine', 'Jim']

#### Remove Ted from the list and print the list

In [16]:
del mylist[3]
print(mylist)

['John', 'Bod', 'Maria', 'Nick', 'Albert', 'John', 'Catherine', 'Jim']

##### Write a function that reverses the order of the list

In [17]:
mylist.reverse()
print(mylist)

['Jim', 'Catherine', 'John', 'Albert', 'Nick', 'Maria', 'Bod', 'John']

## Functions

##### Write a Python function called `calculate_circle_area` that takes the radius of a circle as an argument and returns the area of the circle. The formula for the area of a circle is π × radius<sup>2</sup>.

In [ ]:
# Test the function
radius = 5
area = calculate_circle_area(radius)
print(f"The area of a circle with radius {radius} is {area:.2f}")

##### Illinois' general state retailers' occupation and use tax rates are:
- 6.25 percent on general merchandise, including items required to be titled or registered by an agency of Illinois state government; and
- 1 percent on qualifying foods, drugs, and medical appliances. 

Write two Python functions, named `tax_merchandise` and `tax_food` that calculate the above taxes respectively.

---