In [1]:
import pandas as pd
import sqlite3
connection = sqlite3.connect(":memory:")

In [2]:
# Read the excel as pandas DataFrame
monuments_df = pd.read_excel('Hanson2016_CitiesDatabase_OxREP.xlsx', sheet_name = 'monuments')

# Turn the DataFrame to SQL
monuments_df.to_sql('monuments', con = connection, index = False) # Why False?
monuments_df

                   id           structure
0        Hanson2016_1           Acropolis
1        Hanson2016_1               Agora
2        Hanson2016_1    Temple of Apollo
3        Hanson2016_1             Theatre
4        Hanson2016_1               Walls
...               ...                 ...
9467  Hanson2016_1388  Temple of Dionysus
9468  Hanson2016_1388          Urban grid
9469  Hanson2016_1388               Walls
9470   Hanson2016_167             Theatre
9471   Hanson2016_669             Theatre

[9472 rows x 2 columns]

In [25]:
monuments_by_city = pd.read_sql("""
SELECT id, COUNT(*)
FROM monuments
GROUP BY id

""", connection)

In [21]:
monuments_by_city = (monuments_by_city.rename(columns={'COUNT(*)': 'count'}))

ValueError: Table 'cities' already exists.

In [24]:
print(cities_to_provinces)

                   id          ancient_toponym
0        Hanson2016_1                     Abae
1        Hanson2016_2                 Acharnae
2        Hanson2016_3                Acraephia
3        Hanson2016_4                   Aegina
4        Hanson2016_5                   Aegira
...               ...                      ...
1383  Hanson2016_1384                 Pautalia
1384  Hanson2016_1385  Philippopolis (Thracia)
1385  Hanson2016_1386               Samothrace
1386  Hanson2016_1387                  Serdica
1387  Hanson2016_1388              Seuthopolis

[1388 rows x 2 columns]

In [22]:
print(monuments_by_city)

                   id  count
0         Hanson2016_      1
1        Hanson2016_1      5
2       Hanson2016_10      4
3      Hanson2016_100     21
4     Hanson2016_1000      1
...               ...    ...
1203   Hanson2016_993      6
1204   Hanson2016_995      6
1205   Hanson2016_996      2
1206   Hanson2016_998      5
1207   Hanson2016_999      2

[1208 rows x 2 columns]

In [23]:
df = pd.merge(cities_to_provinces, monuments_by_city, on="id", how="left") 
print(df)

                   id          ancient_toponym  count
0        Hanson2016_1                     Abae    5.0
1        Hanson2016_2                 Acharnae    3.0
2        Hanson2016_3                Acraephia    7.0
3        Hanson2016_4                   Aegina    8.0
4        Hanson2016_5                   Aegira    8.0
...               ...                      ...    ...
1383  Hanson2016_1384                 Pautalia   11.0
1384  Hanson2016_1385  Philippopolis (Thracia)   12.0
1385  Hanson2016_1386               Samothrace    6.0
1386  Hanson2016_1387                  Serdica    9.0
1387  Hanson2016_1388              Seuthopolis    4.0

[1388 rows x 3 columns]